*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Hind';
    background: #1234f5b0;
}

html {
    scroll-behavior: smooth;
  }


/* HEADER Y NAVEGADOR */

header {
    width: 100%;
    background: #f12711;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(187, 54%, 46%, 0.397), #2c73ddc9), url(../Imagenes/portada.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(229, 57%, 69%, 0.89), #739cdac9), url(../Imagenes/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    background-attachment: fixed;
}

header > nav {
    text-align: center;
    font-size: 30px;
    padding: 10px 5px 7px 30px;
}

nav > a{
    color:#fff;
    font-weight: 600;
    text-decoration: none;
    margin-right: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(8, 73, 158, 0.356);
    transition: background-color 0.5s linear;
}

nav > a:hover {
    background-color: #3F51B5;
}

.contenedor{
    padding: 60px 0;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: url(../Imagenes-index/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TITULO Y SUBTITULO */

.texto-header h1{
    font-size: 70px;
    color: white;
}

.texto-header h2{
    font-size: 37px;
    color: white;
}

.texto-header {
    text-align: left;
    padding: 20px;
}

/* SOBRE MI */

.contenedor-sobre-mi {
    text-align: justify;
    padding-left: 450px;
    max-width: 1500px;
}

.contenedor-sobre-mi h1 {
    font-size: 60px;
    font-weight: 600;
}

.contenedor-sobre-mi p {
    font-size: 35px;
    font-weight: 300;
}

/* MAIN 2 | PROYECTOS */

.main2 {
    background:rgba(81, 107, 223, 0.705);
}

/* PROYECTOS */

.proyectos {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3px;
}

.titulo-proyectos {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-top: 20px;
}

/* IMAGENES DE PROYECTOS */

.proyectos > img {
    width: 33%;
    justify-content: center;
    padding: 10px;
    padding-left: 15px;
    -webkit-transition: 1s linear;
    transition: 0.3s linear;
    background-color: rgba(81, 107, 223, 0.705);
}

.proyectos > img:hover{
    -webkit-box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.747);
    box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.712);
  }

/* FOOTER */

.footer h1 {
    text-align: center;
}

.footer {
    background: rgba(8, 73, 158, 0.356);
}

/* MAIN 3 | EXPERIENCIAS PERSONALES */

.titulo-experiencias{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
}

.experiencias {
    text-align: justify;
    padding-left: 450px;
    max-width: 1500px;
}

.experiencias p {
    font-size: 35px;
    font-weight: 300;
}

.experiencias p span {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    text-align: center;
    font-weight: 600;
    background: rgb(38, 0, 252);
    color: rgb(0, 0, 0);
    border-radius: 0%;
    display: inline-block;
    width: 30px;
    height: 55px;
    padding: 2px;
    margin-right: 10px;
}
